$black-color: rgb(40, 38, 38);
$border-color: rgb(184, 184, 184);
$btn-color: #5f7cf9;
$btn-hover-color: #8c9eff;
$btn-active-color: #2f42ad;
$btn-text-color: rgb(20, 24, 84);
$border: 1px solid $border-color;
$border-radius: 4px;
$box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
$transition-duration: .3s;

@mixin container {
    border-radius: $border-radius;
    border: $border;
    box-shadow: $box-shadow;
    padding: 20px;
}

//Common styles
html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: $black-color;
}

#app {
    width: 100wh;
    height: 100vh;
    padding: 30px;
}

p {
    margin: 0;
}

//Container styles
.container {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 40px;
    @include container;
}

.container-s {
    height: 100%;
    flex-basis: 50%;
    @include container;
}

//Lists styles
ul {
    list-style: none;
    padding-left: 20px;
    padding-top: 7px;
}

li {
    margin-bottom: 7px;
}

.list {
    position: relative;
}

.arrow-img {
    width: 30px;
    position: absolute;
    left: -30px;
    top: -7px;
    transition: transform $transition-duration;
}

.arrow-img.down {
    transform: rotate(90deg);
}

.list-item {
    display: flex;
    justify-content: space-between;
}

//Input type="number" styles
input[type="number"] {
    border: none;
    width: 50px;
    transform: translateY(-5%);
    border-radius: $border-radius;
    transition: background-color $transition-duration, outline-color $transition-duration;
    outline: 1px solid transparent;
}

input[type="number"]:focus-visible {
    outline-color: #114BA9;
}

input[type="number"]:hover {
    background-color: #deecf9;
}

input[type="number"]:active {
    outline-color: transparent;
    background-color: #9bc3d739;
}

//Input type="checkbox" styles
input[type="checkbox"] {
    margin-right: 10px;
}

//Input type="color" styles
input[type="color"] {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
}

// ?
.item-ui-container {
    flex-basis: 100px;
    display: flex;
}

.input-color-container {
    position: relative;
}

.heart-img {
    display: block;
    transform: translateY(15%);
    cursor: pointer;
}

//List card styles
.list-cards-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list-card {
    @include container;
    box-shadow: none;
    padding: 10px;
}

.list-card-header {
    display: flex;
    justify-content: space-between;
}

.list-card-body {
    padding-top: 10px;
}

//Button styles
.btn {
  background-color: $btn-color;
  border-radius: .5rem;
  color: #FFFFFF;
  padding: 10px 20px;
  border: 0;
  cursor: pointer;
  outline: 1px solid transparent;
  outline-offset: 2px;
  transition: background-color $transition-duration, outline-color $transition-duration;
}

.btn:focus-visible {
    outline-color: $btn-color;
}

.btn:hover {
  background-color: $btn-hover-color;
}

.btn:active {
    background-color: $btn-active-color;
}

//Sorted items style
.sorted-item-container {
    display: flex;
    gap: 2px;
    margin-bottom: 2px;
    flex-wrap: wrap;
}

//Shuffled items style
.shuffled-items-container {
    display: flex;
    gap: 2px;
    padding: 5px;
    flex-wrap: wrap;
}


/* Customize the label (the container) */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkbox-container input.checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkbox-container input.checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }