$black-color: rgb(40, 38, 38);
$border-color: rgb(184, 184, 184);
$btn-color: #5f7cf9;
$btn-hover-color: #8c9eff;
$btn-active-color: #2f42ad;
$btn-text-color: rgb(20, 24, 84);
$border: 1px solid $border-color;
$border-radius: 4px;
$box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
$transition-duration: .3s;

@mixin container {
    border-radius: $border-radius;
    border: $border;
    box-shadow: $box-shadow;
    padding: 20px;
}

//Common styles
html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: $black-color;
}

#app {
    width: 100wh;
    height: 100vh;
    padding: 30px;
}

p {
    margin: 0;
}

//Main container styles
.container {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 40px;
    @include container;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    #app {
        height: auto;
    }
}

//Left and right containers
.container-s {
    height: 100%;
    flex-basis: 50%;
    @include container;
    overflow-y: auto;
}

//Lists styles
ul {
    list-style: none;
    padding-left: 20px;
    padding-top: 20px;
}

li {
    margin-bottom: 20px;
}

.list {
    position: relative;
}

.arrow-img {
    width: 30px;
    position: absolute;
    left: -30px;
    top: -7px;
    transition: transform $transition-duration;
}

.arrow-img.down {
    transform: rotate(90deg);
}

.list-item {
    display: flex;
    justify-content: space-between;
    border-bottom: $border;
    align-items: center;
}

//Container for number input and color cube
.item-ui-container {
    flex-basis: 100px;
    display: flex;
    gap: 5px;
    align-items: center;
}

//Input type="text" styles
input[type="text"] {
    text-align: center;
    width: 40px;
    border: none;
    padding: 5px;
    border-radius: $border-radius;
    transition: background-color $transition-duration, outline-color $transition-duration;
    outline: 1px solid transparent;}

input[type="text"]:focus-visible {
    outline-color: #114BA9;
}

input[type="text"]:hover {
    background-color: #deecf9;
}

input[type="text"]:active {
    outline-color: transparent;
    background-color: #9bc3d739;
}

//Custom nput type="color" styles
.input-color-container {
    position: relative;
}

input[type="color"] {
    width: 17px;
    height: 17px;
    position: absolute;
    top: 0;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
}

.color-cube {
    width: 17px;
    height: 17px;
    display: block;
    cursor: pointer;
    border-radius: $border-radius;
    transition: all $transition-duration;
    box-shadow: inset rgba(255,255,255,0.2) 1px  1px 3px 1px,
    inset rgba(0, 0, 0, 0.367) -1px -1px 3px -1px;
}

input[type="color"]:hover ~ .color-cube {
    transform: scale(1.5);
}

//List card styles
.list-cards-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list-card {
    @include container;
    box-shadow: none;
    padding: 10px;
}

.list-card-header {
    display: flex;
    justify-content: space-between;
}

.list-card-body {
    padding-top: 10px;
}

//Button styles
.btn {
  background-color: $btn-color;
  border-radius: .5rem;
  color: #FFFFFF;
  padding: 10px 20px;
  border: 0;
  cursor: pointer;
  outline: 1px solid transparent;
  outline-offset: 2px;
  transition: background-color $transition-duration, outline-color $transition-duration;
}

.btn:focus-visible {
    outline-color: $btn-color;
}

.btn:hover {
  background-color: $btn-hover-color;
}

.btn:active {
    background-color: $btn-active-color;
}

//Sorted items style
.sorted-item-container {
    display: flex;
    gap: 2px;
    margin-bottom: 2px;
    flex-wrap: wrap;
}

//Shuffled items style
.shuffled-items-container {
    display: flex;
    gap: 2px;
    padding: 5px;
    flex-wrap: wrap;
}


// Custom checkbox
.checkbox-container {
    display: flex;
    gap: 7px;
}
  
.checkmark {
    position: relative;
    height: 17px;
    width: 17px;
    border: 2px solid $btn-color;
    border-radius: $border-radius;
}

.checkmark.none:hover {
    background-color: rgba(186, 206, 248, 0.703);
    border: none;
}


.checkmark.checked {
    border: 2px solid $btn-color;
}

.checkmark::after {
    content: "";
    position: absolute;
    display: none;
}

.checkmark.checked::after {
    display: block;
    left: 5px;
    top: 1px;
    width: 4px;
    height: 11px;
    border: solid $btn-color;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkmark.intermediate::after {
    display: block;
    left: 4px;
    top: 4px;
    width: 6px;
    height: 6px;
    border-radius: 50px;
    border: solid $btn-color;
    border-width: 3px;
}
